<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex aligins-items-center">
        
        <!--<a href="https://c4.wallpaperflare.com/wallpaper/667/705/181/steins-gate-okabe-rintarou-wallpaper-preview.jpg" target="_blank">
          <li class="nav-item active">
            <img src="https://c4.wallpaperflare.com/wallpaper/667/705/181/steins-gate-okabe-rintarou-wallpaper-preview.jpg" 
            alt="Imagem do User" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        </a>-->
  
        <li class="nav-item active">
            <img src="https://c4.wallpaperflare.com/wallpaper/667/705/181/steins-gate-okabe-rintarou-wallpaper-preview.jpg" 
            alt="Imagem do User" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>-->

        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white fs-16">Nome do Usuário</p>
        </li>

        <li class="nav-item pl-3">
            <a href="">
                <p class="m-0 text-white fs-16">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </p>
            </a>
        </li>     
      </ul>

      <ul class="navbar-nav ml-auto d-flex aligins-items-center">
          <a href="">
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></p>
              </li>
          </a>
      </ul>
    </div>
  </nav>