#img-bg{
    background-image: url("https://images6.alphacoders.com/345/thumb-1920-345038.jpg");

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}