#img-bg{
    background-image: url("https://i.pinimg.com/originals/8a/1c/20/8a1c20db423f85de20c1269b348713b3.jpg");

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}